/**
 * Affiliations Style Sheet for the affiliations module
 */

/* Manage Affiliations table */

  div.view-og-affiliations-manage table,
  div.view-og-affiliations-in-active table
  {
    width: 100%;
  }
  div.view-og-affiliations-manage td,
  div.view-og-affiliations-in-active td
  {
    border: 1px solid #ddd;
    padding: 3px;
    width: 33%;
  }
  
  div.view-og-affiliations-manage div.views-field-title,
  div.view-og-affiliations-in-active div.views-field-title
  {
    font-weight: bold;
    border-bottom: 1px
  }
